#project-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.project-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    width: fit-content;
}

.project-card button {
    background: linear-gradient(135deg, #007bff, #0056b3);
    color: #fff;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Poetsen One", sans-serif;
    padding: 10px 24px;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.project-card button:hover {
    background-color: linear-gradient(135deg, #007bff, #0056b3);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.project-card button:active {
    box-shadow: none;
    transform: translateY(0);
}

.project-card a {
    text-decoration: none;
}